Repository sp00nznet/fallout1-re: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-server, build-web

build-server:
  tags:
  - debian
  before_script:
  - "if ! command -v node &> /dev/null; then\n  echo \"Installing Node.js...\"\n  curl -fsSL https://deb.nodesource.com/setup_20.x | sudo -E bash -\n  sudo apt-get install -y nodejs\nfi\n"
  - node --version
  - npm --version
  stage: build
  script:
  - cd fallout1-server
  ...

build-web:
  tags:
  - debian
  before_script:
  - "if ! command -v node &> /dev/null; then\n  echo \"Installing Node.js...\"\n  curl -fsSL https://deb.nodesource.com/setup_20.x | sudo -E bash -\n  sudo apt-get install -y nodejs\nfi\n"
  - node --version
  - npm --version
  stage: build
  script:
  - cd fallout1-web
  - npm ci
  ...

Fix GitLab CI: use debian runner instead of docker
  .gitlab-ci.yml
Due: none

Add package-lock.json for fallout1-server
  fallout1-server/package-lock.json
Due: build-server

Fix TypeScript compilation errors in server
  fallout1-server/src/bots/ai/exploration-ai.ts
  fallout1-server/src/websocket/actions.ts
Due: build-server

Fix TypeScript errors in web frontend
  .gitignore
  fallout1-web/src/multiplayer/MultiplayerClient.ts
  fallout1-web/src/multiplayer/StateSync.ts
  fallout1-web/src/ui/GameBrowser.ts
  fallout1-web/src/ui/LoginScreen.ts
  fallout1-web/src/ui/MultiplayerHUD.ts
  fallout1-web/tsconfig.json
  src/game/main.c
  src/plib/gnw/svga.c
  src/plib/gnw/winmain.c
Due: build-web

Update deploy job to copy Win32 build to network share
  .gitlab-ci.yml
Due: none

Add multiplayer launcher and game IPC integration
  .gitlab-ci.yml
  CMakeLists.txt
  fallout1-launcher/package-lock.json
  fallout1-launcher/package.json
  fallout1-launcher/src/index.html
  fallout1-launcher/src/main.js
  fallout1-launcher/src/preload.js
  fallout1-launcher/src/renderer.js
  fallout1-launcher/src/styles.css
  src/game/multiplayer.c
  src/game/multiplayer.h
Due: none

Add separate deploy-launcher job
  .gitlab-ci.yml
Due: none

Fix CORS to allow Electron launcher connections
  fallout1-server/src/index.ts
Due: build-server

Update launcher with main menu and singleplayer option
  fallout1-launcher/src/index.html
  fallout1-launcher/src/main.js
  fallout1-launcher/src/renderer.js
  fallout1-launcher/src/styles.css
Due: none

Separate LAN play from Online play in launcher
  fallout1-launcher/src/index.html
  fallout1-launcher/src/renderer.js
  fallout1-launcher/src/styles.css
Due: none

Fix game executable detection and add path configuration
  fallout1-launcher/src/index.html
  fallout1-launcher/src/main.js
  fallout1-launcher/src/preload.js
  fallout1-launcher/src/renderer.js
  fallout1-launcher/src/styles.css
Due: none

Simplify GDI rendering to fix garbled graphics
  src/plib/gnw/svga.c
Due: none

Path conditions:
  build-server: any of: fallout1-server/**/*
  build-web: any of: fallout1-web/**/*
